@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: 'Montserrat';
}


.form_control{
  display: flex;
  flex-direction: column;
  gap: .6rem;
  margin-bottom: 2rem;
}

label{
  font-weight: bold;
  color: #505050;
  font-size: 0.9rem;
}

input,
textarea{
  padding: .6rem;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}

textarea{
  height: 120px;
}

/*Actions*/

